@tailwind preflight;

a {
  @apply text-indigo-dark;
}

a:visited {
  @apply text-indigo-darker;
}

a:hover {
  @apply underline;
}

@tailwind components;

/* Custom stuff goes here */

.content {
  @apply text-grey-darkest
}

.content p {
  @apply my-4
}

.content h1,
.content h2,
.content h3 {
  @apply leading-tight text-black
}

.content h2,
.content h3 {
  @apply mt-10 mb-4
}

.content blockquote {
  @apply relative pl-3 border-l-2 border-indigo-dark font-thin mt-3
}

@tailwind utilities;
