<div id="nav" class="hidden absolute z-40 top-16 pb-16 px-2 text-lg
              min-h-screen bg-grey-lighter border-r w-full lg:text-base lg:-mb-0
              lg:static lg:border-b-0 lg:pt-0 lg:block lg:w-auto">
  <nav class="mt-8 px-10">
    <p class="mb-3 uppercase tracking-wide font-bold leading-tight">Beginner</p>
    <ul class="list-reset">
      <li class="mb-3 leading-tight"><a href="/pair-programming-guide/the-case-for-pair-programming" class="text-indigo no-underline">The Case For Pair Programming</a></li>

      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/scientific-research-into-pair-programming"
          class="text-indigo no-underline">Scientific Research Into Pairing</a></li>

      <li class="mb-3 leading-tight"><a href="/pair-programming-guide/your-first-pairing-session" class="text-indigo no-underline">Your First Pairing Session</a></li>
      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/lesser-known-benefits-of-pair-programming"
          class="text-indigo no-underline">Lesser-Known Benefits of Pairing</a></li>
    </ul>

    <p class="pt-8 pb-3 uppercase tracking-wide font-bold leading-tight">Intermediate</p>
    <ul class="list-reset">
      <li class="mb-3 leading-tight"><a href="/pair-programming-guide/links" class="text-indigo no-underline">Great External Resources</a></li>
    </ul>

    <p class="pt-8 pb-3 uppercase tracking-wide font-bold leading-tight">Advanced</p>
    <ul class="list-reset">
      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/how-to-pair-with-a-junior-developer"
          class="no-underline">How To Pair With A Junior Dev</a></li>
    </ul>
  </nav>
</div>
