<div id="nav" class="hidden absolute z-40 top-16 pb-16 px-2 text-lg
              min-h-screen bg-grey-lighter border-r w-full lg:text-base lg:-mb-0
              lg:static lg:border-b-0 lg:pt-0 lg:block lg:w-auto">
  <nav class="mt-8 px-10">
    <p class="mb-3 uppercase tracking-wide font-bold leading-tight">Articles</p>
    <ul class="list-reset">
      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/the-case-for-pair-programming"
          class="text-indigo no-underline">The Case For Pair
          Programming</a></li>

      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/your-first-pairing-session"
          class="text-indigo no-underline">Your First Pairing Session</a></li>

      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/template"
          class="no-underline">A Pairing Session Template</a></li>

      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/styles"
          class="no-underline">Pair Programming Styles</a></li>

      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/antipatterns"
          class="no-underline">Pair Programming Antipatterns</a></li>

      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/lesser-known-benefits-of-pair-programming"
          class="text-indigo no-underline">Lesser-Known Benefits</a></li>

      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/how-to-pair-with-a-junior-developer"
          class="no-underline">How To Pair With A Junior Dev</a></li>

      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/scientific-research-into-pair-programming"
          class="text-indigo no-underline">Scientific Research Into Pairing</a></li>

      <li class="mb-3 leading-tight"><a href="/pair-programming-guide/links"
          class="text-indigo no-underline">Great External Resources</a></li>
    </ul>

    <p class="pt-6 pb-3 uppercase tracking-wide font-bold leading-tight">Videos</p>
    <ul class="list-reset">
      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/elixir-phoenix-elm"
          class="no-underline">Pairing on Elixir, Phoenix, and Elm</a></li>

      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/tdd-ping-pong-ruby"
          class="no-underline">TDD Ping-Pong in Ruby</a></li>

      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/html-css-and-tailwind"
          class="no-underline">Pairing on HTML/CSS/Design</a></li>

      <li class="mb-3 leading-tight"><a
          href="https://www.youtube.com/watch?v=u2XJisddOEg"
          class="no-underline">Why Your Engineers Are Afraid To Pair</a></li>

      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/shopify-interview"
          class="no-underline">Talking Pairing with Shopify's VP Eng</a></li>
    </ul>

    <p class="pt-6 pb-3 uppercase tracking-wide font-bold leading-tight">Audio</p>
    <ul class="list-reset">
      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/full-stack-radio-podcast"
          class="no-underline">The Art of Pairing</a></li>
      <li class="mb-3 leading-tight"><a
          href="/pair-programming-guide/arc"
          class="no-underline">AMA with Ben Orenstein</a></li>
    </ul>

    <div class="max-w-xs pt-12 pb-4">
      <form name="feedback" method="POST" netlify action="/pair-programming-guide/feedback-thanks">
        <textarea class="min-w-full h-24 rounded p-2 bg-white leading-tight rounded shadow"
                  placeholder="This guide would be better if..."
                  name="feedback-text" required></textarea>

        <input class="block rounded mt-2 h-10 w-2/3 hover:bg-grey-light
        bg-indigo hover:bg-indigo-light border-indigo
        hover:border-indigo-light text-white uppercase tracking-wide
        font-bold text-xs shadow" type="submit" value="Send feedback">
      </form>
    </div>
  </nav>
</div>
