<div class="flex justify-between mt-16">
  <a href="{{ include.previous-url }}" class="flex justify-between w-1/2 border p-2 md:p-3 m-2 items-center shadow no-underline hover:no-underline hover:border-indigo rounded-lg">
    <div class="self-center text-grey-dark md:block">&larr;</div>
    <div class="text-right">
      <div class="text-xs text-grey">Previous</div>
      <div class="text-sm text-grey-darkest font-bold pl-2">{{ include.previous-title }}</div>
    </div>
  </a>

  <a href="{{ include.next-url }}" class="flex justify-between w-1/2 border p-2 md:p-3 m-2 items-center shadow no-underline hover:no-underline hover:border-indigo rounded-lg">
    <div>
      <div class="text-xs text-grey">Next</div>
      <div class="text-sm text-grey-darkest font-bold pr-2">{{ include.next-title }}</div>
    </div>
    <div class="self-center text-grey-dark md:block">&rarr;</div>
  </a>
</div>
