<form id="subscribe" action="https://www.getdrip.com/forms/575249342/submissions" method="post" data-drip-embedded-form="575249342">
  <div class="block items-center rounded-lg shadow-none md:shadow md:flex">
    <input class="outline-none bg-grey-lighter w-full
    rounded-lg md:rounded-none md:rounded-l-lg
    text-grey-darkest py-4 px-4 leading-tight
    shadow md:shadow-none mb-6 md:mb-0"
    type="email"
    placeholder="thoughtful-pair-programmer@example.com"
    aria-label="Email address entry" name="fields[email]"
    autocomplete="email">

    <input type="hidden" id="referrer" name="fields[referrer]" value="">

    <input type="hidden" id="utm_campaign" name="fields[utm_campaign]" value="">
    <input type="hidden" id="utm_source" name="fields[utm_source]" value="">
    <input type="hidden" id="utm_medium" name="fields[utm_medium]" value="">

    <button class="w-full md:w-auto md:flex-no-shrink
    bg-indigo hover:bg-indigo-light border-indigo
    hover:border-indigo-light uppercase font-bold
    tracking-wide border-4 text-white py-4 px-4
    rounded-lg md:rounded-none md:rounded-r-lg
    text-xs md:shadow-none shadow"
    type="submit">
    Hear about new articles
    </button>
  </div>
</form>

<script>
  // Send useful values via hidden fields.

  // Referrer
  document.getElementById("referrer").value = document.referrer;

  // UTM stuff
  var url = new URL(window.location.href);
  var utm_campaign = url.searchParams.get("utm_campaign");
  var utm_source = url.searchParams.get("utm_source");
  var utm_medium = url.searchParams.get("utm_medium");
  document.getElementById("utm_campaign").value = utm_campaign;
  document.getElementById("utm_source").value = utm_source;
  document.getElementById("utm_medium").value = utm_medium;
</script>
