<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/compiled.css">
  </head>
  <body class="font-source-sans font-normal text-black leading-normal">
    <header class="flex bg-white border-b border-grey-lighter shadow fixed pin-t pin-x z-100 h-16 items-center">
      <div class="ml-8">
        <img src="/assets/tuple-logo-small.png" class="h-12">
      </div>

      <div>
        <h2 class="text-grey-darkest mb-1">Tuple's Pair Programming Guide</h2>
      </div>
    </header>

    <div class="flex">
      <div class="absolute z-90 top-16 bg-white w-full border-b lg:-mb-0 lg:static lg:bg-transparent lg:border-b-0 lg:pt-0 lg:w-1/4 lg:block lg:border-0 xl:w-1/5">
        <nav class="mt-24 ml-8">
          <ul class="list-reset">
            <li class="mb-3">A good topic</li>
            <li class="mb-3">Some other things</li>
            <li class="mb-3">Maybe this thing too</li>
            <li class="mb-3">Short</li>
            <li class="mb-3">This other thing</li>
            <li class="mb-3">Foo bar baz</li>
            <li class="mb-3">Lorem Ipsum</li>
          </ul>
        </nav>
      </div>

      <div class="container px-6 pt-24 content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
