<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/compiled.css">
  </head>
  <body class="font-sans font-normal text-black leading-normal">
    <header class="flex bg-white border-b shadow border-grey-lighter fixed pin-t pin-x z-50 h-16 items-center relative">
      <div class="ml-8 flex-no-shrink">
        <img src="/assets/tuple-logo-small.png" class="h-12">
      </div>

      <div class="mb-2 mr-2">
        <h1 class="hidden text-indigo-darkest sm:block text-lg">Pairing Thoughtfully</h1>
      </div>

      <div class="lg:hidden absolute pin-r mx-8 h-8 w-8 text-grey-darker">
        <!-- TODO: click this for menu -->
        <svg preserveAspectRatio="xMidYMid meet" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="_13gjrqj"><g><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></g></svg>
      </div>
    </header>

    <div class="flex">
      <div class="absolute hidden z-40 top-16 bg-grey-lighter w-full border-r lg:-mb-0 lg:static lg:border-b-0 lg:pt-0 lg:w-1/4 lg:block xl:w-1/6 min-w-16">
        <nav class="mt-8 ml-10">
          <p class="mb-3 uppercase tracking-wide font-bold leading-tight">Introduction</p>
          <ul class="list-reset">
            <li class="mb-3 mr-4 leading-tight"><a href="#" class="no-underline">Why should you pair?</a></li>
            <li class="mb-3 mr-4 leading-tight"><a href="#1" class="no-underline">Is pairing slower?</a></li>
            <li class="mb-3 mr-4 leading-tight"><a href="#2" class="no-underline">Am I too new to pair?</a></li>
            <li class="mb-3 mr-4 leading-tight"><a href="#3" class="no-underline">How to start</a></li>
            <li class="mb-3 mr-4 leading-tight"><a href="#4" class="no-underline">Common early mistakes</a></li>
            <li class="mb-3 mr-4 leading-tight"><a href="#4" class="no-underline">What about my boss?</a></li>
          </ul>

          <p class="pt-6 pb-3 uppercase tracking-wide font-bold leading-tight">Driving well</p>
          <ul class="list-reset">
            <li class="mb-3 mr-4 leading-tight"><a href="#7" class="no-underline">Being in the mood</a></li>
            <li class="mb-3 mr-4 leading-tight"><a href="#8" class="no-underline">Keyboard setup</a></li>
            <li class="mb-3 mr-4 leading-tight"><a href="#11" class="no-underline">What to focus on</a></li>
            <li class="mb-3 mr-4 leading-tight"><a href="#12" class="no-underline">When should you switch?</a></li>
            <li class="mb-3 mr-4 leading-tight"><a href="#13" class="no-underline">All about the mouse</a></li>
          </ul>

          <p class="pt-6 pb-3 uppercase tracking-wide font-bold leading-tight">Stylish navigation</p>
          <ul class="list-reset">
            <li class="mb-3 mr-4 leading-tight"><a href="#20" class="no-underline">Deciding what's next</a></li>
            <li class="mb-3 mr-4 leading-tight"><a href="#14" class="no-underline">On typos</a></li>
            <li class="mb-3 mr-4 leading-tight"><a href="#16" class="no-underline">The power of questions</a></li>
            <li class="mb-3 mr-4 leading-tight"><a href="#18" class="no-underline">The wisdom of breaks</a></li>
            <li class="mb-3 mr-4 leading-tight"><a href="#19" class="no-underline">What not to do</a></li>
          </ul>
        </nav>
      </div>

      <div class="max-w-lg px-10 py-4 content">
        <div>
          <div class="border-t-4 border-indigo-dark mt-4 mb-2"></div>
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
