<!doctype html>
<html lang="en" class="text-sm sm:text-base">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="./assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="./assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="Description" content="Comprehensive guides for thoughtful pair programmers on a variety of topics">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/compiled.css">

    <script>
      function toggleNav() {
        var nav = document.getElementById("nav");
        var content = document.getElementById("content");
        var hamburger = document.getElementById("hamburger");
        var closeButton = document.getElementById("close-button");

        if (nav.classList.contains("hidden")) {
          show(nav);
          hide(content);

          hide(hamburger);
          show(closeButton);
        } else {
          hide(nav);
          show(content);

          hide(closeButton);
          show(hamburger);
        }
      }

      function hide(element) {
        element.classList.add("hidden");
      }

      function show(element) {
        element.classList.remove("hidden");
      }
    </script>
  </head>

  <body class="font-sans font-normal text-black leading-normal">
    <header class="bg-white border-b shadow border-grey-lighter px-4 relative z-50">
      <div class="flex items-center justify-between relative">
        <div class="flex-no-shrink flex">
          <img src="./assets/tuple-logo-small.png" class="h-12">
          <div class="mr-2 py-2">
            <h1 class="tracking-wide text-indigo-darkest text-lg">Tuple's Pair Programming Guide</h1>
          </div>
        </div>


        <div class="lg:hidden py-2">
          <button id="hamburger" class="block h-8 w-8 text-grey-dark" onclick="toggleNav()">
            <svg preserveAspectRatio="xMidYMid meet" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="_13gjrqj"><g><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></g></svg>
          </button>

          <button id="close-button" class="hidden block h-8 w-8 text-grey-dark" onclick="toggleNav()">
            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
          </button>
        </div>
      </div>
    </header>

    <div class="flex">
      <div id="nav" class="hidden absolute z-40 top-16 pb-16 px-2 text-lg min-h-screen bg-grey-lighter w-full border-r lg:text-base lg:-mb-0 lg:static lg:border-b-0 lg:pt-0 lg:w-1/4 lg:block xl:w-1/6 min-w-16">
        <nav class="mt-8 ml-10">
          <p class="mb-3 uppercase tracking-wide font-bold leading-tight">Beginner</p>
          <ul class="list-reset">
            <li class="mb-3 leading-tight"><a href="./the-case-for-pair-programming" class="text-indigo no-underline">The Case For Pair Programming</a></li>
          </ul>

          <p class="pt-8 pb-3 uppercase tracking-wide font-bold leading-tight">Intermediate</p>
          <ul class="list-reset">
            <li class="mb-3 leading-tight">Coming soon &ndash; <a href="./#hear-when-we-write-more" class="text-indigo no-underline">subcribe for updates</a></li>
          </ul>

          <p class="pt-8 pb-3 uppercase tracking-wide font-bold leading-tight">Advanced</p>
          <ul class="list-reset">
            <li class="mb-3 leading-tight"><a href="./how-to-pair-with-a-junior-developer" class="no-underline">How to pair with a junior developer</a></li>
          </ul>
        </nav>
      </div>

      <div id="content" class="max-w-md px-10 py-8 mb-24 content mx-auto lg:ml-8">
        {{ content }}
      </div>
    </div>
  </body>
</html>
